@charset "utf-8";

/* common.css => 모든 html 페이지에 공통으로 적용되는 css */
/* reset.css 삽입 */
@import url(./reset.css);

/* 공통 */
.wrap {
    /* max-width: 1440px; */
    margin: 0 auto;
    margin-bottom: 0;
 }
 
 .menu-wrap {
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 40px;
 }
 
 /* 헤더 */
 header {
    height: 120px;
    background-color: #1f1f1f;
 }